.button {
  font: inherit;
  border: 1px solid ;
  background: #d946ef;
  color: white;
  padding: 0.1rem 2rem;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8%;
  width: 90%;
  margin:0px auto;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

/* button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
} */
