.content_wrapper{
   padding-left: 6%;
   /* border: 2px solid black; */
   display: flex;
}
.wrapper_Item{
   padding-right: 2%;
}

.box{
   margin-bottom: 3%;
}
.namePara{
   color:black;
   font-weight:bold;
   font-size: 25px;
   /* border: 2px solid black; */
   margin-bottom: 0px;
}
.agePara{
   margin-top: 1%;
   color:#626467;
   /* border: 2px solid black; */

}


/* Mobile Device Styling*/
@media screen and (max-width:600px) {
   .namePara{
      color:#aeb1b5;
      font-weight:400;
      font-size: 22px;
      /* border: 2px solid black; */
      margin-bottom: 0px;
   }   
}